name: Rust

on:
  push:
    branches:
      - main
      - release/**

  pull_request:

jobs:
  lint:
    name: "Linting"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
        name: Checkout code
      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libcurl4-openssl-dev
      - run: cargo check
      - run: cargo fmt --check

  test:
    name: "Tests"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
        name: Checkout code
      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libcurl4-openssl-dev
      - name: Run Kafka
        run: sh scripts/run-kafka.sh
      - name: Run tests
        run: cargo test
